:root {
  --primary-color: #185ee0;
  --secondary-color: #e6eef9;
  --background-color: #474747;
  --tab-background-color: #2d2d2d;
  --tab-glider-color: #000000;
  --tab-selected-text-color: red;
  --tabBarHeight: 45px;
  --tabBarWidth: 175px;
  --projectBacgroundColor: #424242;
  --project-div-background-color: #360000;
  --cardMargins: 20px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: #ffffff;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Product Sans", sans-serif;
  background-color: var(--background-color);
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: column;
}
