.projTypeTitle {
  text-align: center;
}

/* Expand to fit the rest of the area */
.proj {
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: auto;
}

.projectDetailsDiv h1 {
  text-align: center;
}

.allProjectsDiv {
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow: auto;
  -webkit-scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  background-color: var(--project-div-background-color);
  padding-bottom: calc(var(--cardMargins)*2);
}

.projectDetailsDiv {
  height: 100%;
  scroll-snap-align: start;
  scroll-margin-top: var(--cardMargins);
  scroll-margin-bottom: var(--cardMargins);
  margin-left: var(--cardMargins);
  margin-right: var(--cardMargins);
  background-color: var(--projectBacgroundColor);
  border-radius: 20px;
}