<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/index.css" />
  <title>Rajan Phadnis</title>
  <link rel="icon" href="/favicon.svg" />
  <script src="https://unpkg.com/swup@4"></script>
  <script src="https://unpkg.com/@swup/preload-plugin@3"></script>
  <script>
    const swup = new Swup({
      plugins: [new SwupPreloadPlugin({ preloadVisibleLinks: true })]
    });

  </script>

</head>

<body>
  <main class="main">
    <div class="header">
      <a href="/" class="headerA">
        <h1 class="headerAH1">Rajan Phadnis</h1>
      </a>
      <div class="headerButtonDiv">
        <a href="https://www.linkedin.com/in/rajanphadnis/" class="headerButton linkedInButton"
          target="_blank">LinkedIn</a>
        <a href="https://github.com/rajanphadnis" class="headerButton" target="_blank">GitHub</a>
      </div>
    </div>
    <hr class="hr" />
    {% block content %}{% endblock content %}
  </main>
</body>

</html>